#main {
	background-color: red;
	width: 1400px;
	height: 850px;
}

#sorting {
	background-color: #E0E0E0;
	width: 194px;
	height: 696px;
	float: right;
	padding: 2px;
}

#listings {
	background-color: green;
	width: 1398px;
	height: 700px;
	border: 1px solid black;
}

#left {
	background-color: aqua;
	width: 1200px;
	height: 700px;
	float: left;
}

#timeline {
    width: 1050px;
    height: 20px;
    background-color: white;
    float: right;
}

.article {
    height: 2px;
    border: 1px solid black;
}
.article p {
    display: none
}

div .selected {
    border: green;
    height: 50px;
}

.article:hover {
    background-color: white;
    height: 50px;
}

.article:hover p{
    display: block;
    height: 50px;
}

#headers {
	background-color: #F8F8F8;
	width: 98px;
	height: 698px;
	float: left;
	border: 1px solid #E0E0E0;
	
}
.info {
	-moz-transform: rotate(-90deg);
	
}

#content {
	background-color: #F8F8F8;
	width: 1100px;
	height: 670px;
	float: right;
}

#timeline-control {
	background-color: white;
	width: 1100px;
	height: 30px;
	float: right;
}

#details {
	background-color: #F8F8F8;
	width: 1398px;
	height: 150px;
	border: 1px solid black;
	border-top: 0px;
	float: left;
	}
	
#bottom {
	width: 1400px;
	height: 20px;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}